[user]
	name = dyasui
	email = dyasui@uoregon.edu
[init]
	defaultBranch = main
[core]
  editor = vim
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitten diff $LOCAL $REMOTE
