.DS_Store
.idea
tmp/

zsh/.zshrc

vim/.vim/plugged
vim/.vim/autoload
vim/.vim/.netrwhist

emacs/.config/emacs/elpaca/
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/elpa/

emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/init.el
emacs/.config/emacs/#bookmarks#
emacs/.config/emacs/recentf
git/.gitconfig
nvim/.config/nvim/lazy-lock.json
yazi/.config/yazi/plugins/mediainfo.yazi
emacs/.config/emacs/transient/history.el
emacs/.config/emacs/ltximg
emacs/.config/emacs/init.el~
emacs/.config/emacs/sessions
emacs/.config/emacs/projects
emacs/.config/emacs/bookmarks
