.DS_Store
.idea
tmp/

zsh/.zshrc

emacs/.config/emacs/elpaca/
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/elpa/

vim/.vim/plugged
vim/.vim/autoload
vim/.vim/.netrwhist
emacs/.config/emacs/recentf
