# ~/.aerospace.toml
# DOCS: https://nikitabobko.github.io/AeroSpace/commands

# STARTUP COMMANDS
start-at-login = true
after-login-command = [
  'exec-and-forget syncthing',
  'exec-and-forget emacs --daemon'
]
after-startup-command = [ # 'after-startup-command' is run after 'after-login-command'
  # 'exec-and-forget kitty --session ~/.config/kitty/startup.conf',
  'exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0'
]
[exec]                   # Again, you don't need to copy all config sections to your config.
inherit-env-vars = true  # If you don't touch "exec" section,
[exec.env-vars]          # it will fallback to "default-config.toml"
PATH = '/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

# SETTINGS
# accordion-padding = 30

# Layout
default-root-container-layout = 'tiles'

# Gaps
[gaps]
inner.horizontal = 4
inner.vertical   = 4
outer.left       = 4
outer.bottom     = 4
outer.top        = 4
outer.right      = 4

[mode.main.binding]
# KEYBINDINGS
# All possible modifiers: cmd, alt, ctrl, shift
# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
alt-t = 'layout tiles horizontal vertical'
alt-a = 'layout accordion horizontal vertical'

alt-tab = 'workspace-back-and-forth'
alt-n = 'workspace next'
alt-p = 'workspace prev'
alt-f = 'fullscreen'
alt-space = 'layout floating tiling'

# Window Navigation
alt-h  = 'focus left --boundaries all-monitors-outer-frame'
alt-j  = 'focus down --boundaries all-monitors-outer-frame'
alt-k    = 'focus up --boundaries all-monitors-outer-frame'
alt-l = 'focus right --boundaries all-monitors-outer-frame'
alt-shift-h  = 'move left'
alt-shift-j  = 'move down'
alt-shift-k    = 'move up'
alt-shift-l = 'move right'

cmd-shift-left  = ['join-with left', 'mode main']
cmd-shift-down  = ['join-with down', 'mode main']
cmd-shift-up    = ['join-with up', 'mode main']
cmd-shift-right = ['join-with right', 'mode main']

# Resize Window
alt-minus = 'resize smart -50'
alt-equal = 'resize smart +50'

# App Launchers
# alt-enter = 'exec-and-forget kitty --single-instance ~'
# alt-b = 'exec-and-forget firefox'
# alt-shift-n = 'exec-and-forget Logseq'
# alt-e = 'exec-and-forget emacs'

# WORKSPACES
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'
alt-0 = 'workspace 10'
alt-c = 'workspace C' # calendar
alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
alt-shift-6 = ['move-node-to-workspace 6', 'workspace 6']
alt-shift-7 = ['move-node-to-workspace 7', 'workspace 7']
alt-shift-8 = ['move-node-to-workspace 8', 'workspace 8']
alt-shift-9 = ['move-node-to-workspace 9', 'workspace 9']
alt-shift-0 = ['move-node-to-workspace 10', 'workspace 10']

# Assign Workspaces to Each Display
[workspace-to-monitor-force-assignment]
1 = ['built-in', 'built-in', 'built-in']
2 = ['built-in', 'built-in', 'built-in']
3 = ['built-in', 'built-in', 'built-in']
4 = ['built-in', 'built-in', 'built-in']
5 = ['built-in', 'built-in', 'crestron']
6 = ['msi',      'Dell',     'built-in']
7 = ['msi',      'Dell',     'built-in']
8 = ['msi',      'Dell',     'built-in']
9 = ['msi',      'Dell',     'built-in']
10 = ['msi',      'Dell',     'built-in']
C = ['built-in', 'built-in', 'built-in']

# Float these App Windows by Default
[[on-window-detected]]
if.app-id = 'com.apple.systempreferences'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.apple.Preview'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ['layout floating']

# Assign App Windows by Workspace

# [[on-window-detected]]
# if.app-id = 'org.mozilla.firefox'
# run = 'move-node-to-workspace 1'
#
# [[on-window-detected]]
# if.app-id = 'net.kovidgoyal.kitty'
# run = "move-node-to-workspace 2"
#
# [[on-window-detected]]
# if.app-id = 'com.electron.logseq'
# run = 'move-node-to-workspace 3'

# [[on-window-detected]]
# if.app-id = 'org.gnu.Emacs'
# run = 'move-node-to-workspace 4'
#
[[on-window-detected]]
if.app-id = 'net.whatsapp.WhatsApp'
run = "move-node-to-workspace 5"

[[on-window-detected]]
if.app-id = 'com.valvesoftware.steam'
run = "move-node-to-workspace 8"

# [[on-window-detected]]
# if.app-id = 'org.zotero.zotero'
# run = "move-node-to-workspace 7"

# [[on-window-detected]]
# if.app-id = 'com.vscodium'
# run = "move-node-to-workspace 8"

# [[on-window-detected]]
# if.app-id = 'org.qgis.qgis3'
# run = "move-node-to-workspace 8"

# [[on-window-detected]]
# if.app-id = 'us.zoom.xos'
# run = "move-node-to-workspace 9"

[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = "move-node-to-workspace C"

[[on-window-detected]]
if.app-id="com.mitchellh.ghostty"
run= [
  "layout floating",
]
